nvim/plugged/*
!nvim/plugged/dummyfile
nvim/.netrwhist
nvim/undodir/*
!nvim/undodir/dummyfile
nvim/backup/*
!nvim/backup/dummyfile
nvim/autoload/*
!nvim/autoload/dummyfile
tmux/plugins/*
!tmux/plugins/dummyfile
nvim/.netrwbook

nvim/pack
commands/Telegram
commands/ack
